body
{
	font-family: helvetica neue;
	background-color: #060608;
	color: #414141;
	background-image: url(../img/b.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

article, aside, dialog, figure, footer, header,
  hgroup, menu, nav, section
{
	display: block;
}

#container
{
	width: 28em;
	padding: 0 0.4em;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.6);
}

header
{
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}

header p
{
	font-size: 0.8em;
}

section
{
	width: 30em;
	background: rgba(255,255,255,0.5);
	margin: 1em 0;
	padding: 0.5em;
	-webkit-border-radius: 0.4em 0.4em;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.5);
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	font-size: 0.9em;
}

mark
{
	background-color: rgba(253,247,46,0.5);
}

img
{
	float: left;
	margin-right: 5px;
	border: 2px solid #dadada;
	background-color: #FFF;
}

.name
{
	text-transform: uppercase;
}

.location,.source,a, a:visited
{
	color: #414141;
}

.description
{
	font-family: georgia;
	padding: 0.7em 0;
	font-size: 1.2em;
}

h2
{
	font-size: 1em;
}

footer h2
{
	font-weight: normal;
	font-size: 0.8em;
	padding: 0.5em 0;
}